<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/general.html :: head">
    <title>Text-based adventure game editor - Room details</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Room #<span th:text="${room.id}"></span></h1>

        <ul class="list-group mb-3">
            <li class="list-group-item">
                <strong>Name:</strong> <span th:text="${room.name}"></span>
            </li>
            <li class="list-group-item">
                <strong>Description:</strong> <span th:text="${room.description}"></span>
            </li>
        </ul>

        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-primary" th:href="@{/rooms/{id}/update(id=${room.id})}">Edit</a>

            <form th:action="@{/rooms/{id}/delete(id=${room.id})}" method="post">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>

            <a class="btn btn-secondary" href="/rooms">Back to list</a>
        </div>
    </div>
</body>
</html>