<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Room #<span th:text="${room.id}"></span></h1>

    <ul>
        <li>Name: <span th:text="${room.name}"></span></li>
        <li>Description: <span th:text="${room.description}"></span></li>
    </ul>

    <a th:href="@{/rooms/{id}/update(id=${room.id})}">Edit</a>

    <form th:action="@{/rooms/{id}/delete(id=${room.id})}" method="post">
        <button type="submit">Delete</button>
    </form>

    <a href="/rooms">Back to list</a>
</body>
</html>